<div id = "legend">
	<p> <sup>(I Am)</sup> <b>Legend</B><sub>(Who is the real monster?)</sub></P>
	<div id = "legendex1">
		<p>What can be droped in me</p>
	</div>
	<div id = "legendex2">
		<p>Where I can be dropped</P>
	</div>
	<div id = "legendex3">
		<p>I can only be dropped in</p>
	</div>
	<div id = "legendex4">
	<p>I can only be dragged</p>
	</div>
</div>

<div id = "ais" class = "left">
	<p> Ai </P>
</div>

<div id = "exploits" class = "left">
	<p> Exploit </P>
</div>

<div id = "codes" class = "left">
	<p> Code </P>
</div>

<div id = "aquisitions" class = "left">
	<p> Acquisition </P>
</div>

<div id = "new" class = "right">
	<p> Create </P>
</div>

<div id = "#" class = "show right">
	<p> Read </P>
</div>

<div id = "Update" class = "right">
	<p> Update </P>
</div>

<div id = "drop" class = "right">
	<p> Destroy </P>
</div>

<div id = "calculate" class = "right">
	<p> Calculate </P>
</div>

<div id = "ObjectLand" >
	<p> Object </P>
</div>

<div id = "Action" tracker = "#">
	<p> Action </P>
</div>

<br><br>
<div id = "Display">
	<p> Display </P>
</div>

<br><br>
<div id = "TestLog" class = "display">
	<p> Testing Console </P>
	<br>
</div>