<p> Delete Aquisition </p>

Are you sure you wish to delete <b><%= @aquisition.exploite %></b>?
<div>
    <%= link_to "Yes, Delete This Aquisition", aquisition_path(@aquisition), method: :delete, remote: true %>
</div>