<p> Index Aquisition </p>
<table>
	<thead>
		<tr>
        <th>AI</th>
        <th>Exploite</th>
        <th>Cost</th>
      	</tr>
    </thead>
    <tbody>
    	<% @aquisitions.each do |aq| %>
		<tr>
    	<td class="testme" id = "<%= aq.id %>" ><%= aq.ai.name %></td>
    	<td><%= aq.exploit.name %></td>
    	<td><%= aq.cost %></td>
  		</tr>
		<% end %>
    </tbody>
</table>