<p> Show Aquisition </p>

<p> Name of Ai contained: <%= @aquisition.ai.name %> </P>
<p> Name of Exploit contained: <%= @aquisition.exploit.name %> </P>
<p> Cost: <%= @aquisition.cost %> </P>
<p> Transaction number: <%= @aquisition.transnum %> </P>