body {
    background-color:#0066ff;
}

#ais {
	background-color:#e60000;
    width: 150px;
    height: 50px;
	float: left;
	border: 10px solid #000000;
	text-align: center;
}

#exploits {
	background-color:#e60000;
	width: 150px;
    height: 50px;
    float: left;
    clear: left;
    border: 10px solid #000000;
    text-align: center;
}

.testme {
    background-color:#6600cc;
    border: 10px solid #000000;
    min-width: 100px;
}

#codes {
	background-color:#e60000;
	width: 150px;
   	height: 50px;
   	float: left;
   	clear: left;
   	border: 10px solid #000000;
   	text-align: center;
}

#aquisitions {
	background-color:#e60000;
	width: 150px;
    height: 50px;
    float: left;
    clear: left;
    border: 10px solid #000000;
    text-align: center;
}

#new {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    position: relative;
    top: -210px;
    border: 10px solid #000000;
    text-align: center;
}

.show {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #6600cc;
    text-align: center;
}

#Update {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #6600cc;
    text-align: center;

}

#drop {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #6600cc;
    text-align: center;
}

#calculate {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #6600cc;
    text-align: center;
}

#ObjectLand {
	background-color:#e60000;
	width: 180px;
    height: 80px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#Action {
	background-color:#66ff33;
	width: 180px;
    height: 80px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}


#Display {
	background-color:#0066ff;
	min-width: 180px;
    max-width: 800px;
    min-height: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border: 3px solid #000099;
}

#TestLog {
    background-color:#0066ff;
    width: 900px;
    min-height: 300px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border: 3px solid #000099;
}

#legend {
    border: 3px solid #000099;
    margin-left:auto;
    margin-right:auto;
    max-height: 160px;
    max-width: 900px;
    text-align: center;
}

#legendex1 {
    background-color:#ffffcc;
    width: 180px;
    height: 80px;
    text-align: center;
}

#legendex2 {
    background-color:#ccffff;
    width: 150px;
    height: 50px;
    position: relative;
    top: -75px;
    left: 13px;
    text-align: center;
}

#legendex3 {
    background-color:#ffffcc;
    width: 180px;
    height: 80px;
    position: relative;
    top: -162px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#legendex4 {
    background-color:#ffffcc;
    width: 162px;
    height: 62px;
    position: relative;
    top: -244px;
    margin-left:auto;
    border: 10px solid #000000;
    text-align: center;
}