#ais {
	background-color:#e60000;
    width: 150px;
    height: 50px;
	float: left;
	border: 10px solid #0000e6;
	text-align: center;
}

#exploits {
	background-color:#e60000;
	width: 150px;
    height: 50px;
    float: left;
    clear: left;
    border: 10px solid #0000e6;
    text-align: center;
}

.testme {
    background-color:#ff00ff;
    border: 10px solid #66ff33;
}

#codes {
	background-color:#e60000;
	width: 150px;
   	height: 50px;
   	float: left;
   	clear: left;
   	border: 10px solid #0000e6;
   	text-align: center;
}

#aquisitions {
	background-color:#e60000;
	width: 150px;
    height: 50px;
    float: left;
    clear: left;
    border: 10px solid #0000e6;
    text-align: center;
}

#new {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    position: relative;
    top: -210px;
    border: 10px solid #ff00ff;
    text-align: center;
}

.show {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #ff00ff;
    text-align: center;
}

#Update {
	background-color:#66ff33;
	min-width: 170px;
    min-height: 70px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    text-align: center;
}

#Destroy {
	background-color:#66ff33;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #ff00ff;
    text-align: center;
}

#calculate {
	background-color:#e6e600;
	min-width: 150px;
    min-height: 50px;
    float: right;
    clear: right;
    position: relative;
    top: -210px;
    border: 10px solid #ff00ff;
    text-align: center;
}

#ObjectLand {
	background-color:#0000e6;
	width: 180px;
    height: 80px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#Action {
	background-color:#ff00ff;
	width: 180px;
    height: 80px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}


#Display {
	background-color:#0066ff;
	min-width: 180px;
    max-width: 800px;
    min-height: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#TestLog {
    background-color:#0066ff;
    width: 900px;
    min-height: 300px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}